body {
    font-family: 'Poppins';
    background-color: hsl(0, 0%, 98%);
    text-align: center;
    font-size: 15px;
    padding: 50px;
}
#container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 50px;
}
.container {
    background: white;
    padding: 20px 50px;
    border: 2px solid hsl(0, 0%, 98%);
    margin: 40px;
    text-align: left;
    width: 300px;
    height:200px;
    box-shadow: 0 3px 3px 3px hsl(229, 6%, 66%);
    border-radius: 5px;
}
#team{
    border-top: 4px solid hsl(0, 78%, 62%);
}
#super {
    border-top: 4px solid hsl(180, 62%, 35%);
}
#cal {
    border-top: 4px solid hsl(212, 86%, 64%);
}
#karma {
    border-top: 4px solid hsl(34, 97%, 64%);
}
img{
    float: right;
}
#super, #cal {
    margin:150px 0;
    
}
p {
    color: hsl(229, 6%, 66%);
}
.container p {
    font-size:small;
}
#h1 {
    font-weight: 400;
}
h1, h3 {
    color:hsl(234, 12%, 34%)
}